<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <property scope="context" name="logging.dir" value="${logging.dir:-target/logs}"/>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logging.dir}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{35} - %message%n}</pattern>
            </layout>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="FILE"/>
    </root>
    <logger name="com.ben.StudentsBase.logging.RequestLoggingFilter" level="DEBUG"/>
</configuration>